.career-card{

    transition:.3s;

    cursor:pointer;

    border-radius:18px;

}

.career-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,.12);

}

.career-card .display-4{

    font-size:50px;

}